@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
}



.quraan-img img {
    width: 300px;
}
.noble {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.search-city{
 width: 40%;
 color: white;
 border-radius: 5px;
 background-color: #f8f9fa;
 border: 1px solid #ced4da;
 padding: 30px 55px;
 
}

.search-city input{
    outline: none;
    width: 100%;
    border: 0;
    background: transparent;
    color: rgb(209, 25, 25);
    font-size: 16px;
}

#loader{
    width: 300px;
    height: 300px;
    margin-top: 10px;

  
}
.container {
    position: relative;
    max-width: 1300px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    gap: 20px;
    padding: 16px;
    margin-bottom: 50px;

}
.surh-info {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
     height: 120px;
     border-radius: 5px;
     border: 1px solid #d1d1d1;
  

}
.surh-info:hover{
    border:  1px solid #00acc1;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
}
.surah-names {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.surah-names a {
    text-decoration: none;
    font-size: 20px;
    color: #00acc1;
    margin: 30px;


}
#surh-arapi{
    font-family: 'Cairo', sans-serif;
}
#surh-english{
    font-size: 16px;
}
#aayah-num{
    position: absolute;
    left: 0;
    background: #00acc1;
    padding: 4px;
     border-bottom-right-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    

}
@media screen  and (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
    }


    
}
